<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title%} {% endblock %}</title>
     <style>
       {% block css %}
       .btn-style {
    border: groove;
    font-family: sans-serif;
    color: #fff;
    background-color: #5a191f;
    border-color: #42161a;
}

       {% endblock %}
  </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/shop">Tienda's</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/about">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/shop/tracker">Tracker</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/shop/contact">Contact Us</a>
      </li>
     
      <li class="nav-item">
        <div class="container"    >
    <button class="btn btn-style" data-target="#mymodel" style="color: #888c90; padding-left: 0px; padding-right: 0px;"  data-toggle="modal">Login</button>
    <div class="modal" id="mymodel">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 style="color: #5a191f;" >login</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group"> 
                <label><i class="fas fa-envelope"></i> Email:</label>
                <input type="text" id="email" name="" class="form-control">
                <label> <i class="fas fa-key"></i> Password:</label>  
                <input type="text" name="" id="pass" class="form-control">
                
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class=" btn-style" data-dismiss="modal" onclick="validation();">sign in</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </li>
  <li class="nav-item">
        <div class="container"  >
    <button class="btn btn-style" data-target="#mymodal" style="color: #888c90;padding-left: 0px;" data-toggle="modal">Sign Up</button>
    <div class="modal" id="mymodal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 style="color: #5a191f;">Create a new account</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form> 
              <div class="form-group">
                <label><i class="fas fa-user"></i> User Name:</label>
                <input type="text" name="" class="form-control">
                <label><i class="fas fa-envelope"></i> Email:</label>
                <input type="text" name="" class="form-control">
                <label><i class="fas fa-key"></i> Create Password:</label>
                <input type="text" name="" class="form-control">
                
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class=" btn-style" onclick="register()" data-dismiss="modal">sign up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">


  Cart(<span id="cart">0</span>)
</button>
  </div>
</nav>
  {% block body %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block js %} {% endblock %}
  </body>
</html>
